body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #b8e590;
    color: white;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1050px;
    margin: 0 auto;
}

/* Barra de navegación */
.navbar {
    background-color: black;
    padding: 7px;
    border-radius: 0 0 10px 10px;
    justify-content: center;
}

.navbar ul li {
    display: inline-block;
    margin-right: 20px;
}

.navbar ul li a {
    color: white;
    font-weight: bold;
}

/* Encabezado */
.header {
    text-align: center;
    margin: 20px 0;
}

.header img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.header h1 {
    font-size: 24px;
    margin-bottom: 10px;
}









/* Pie de página */
footer {
    background-color: black;
    color: white;
    padding: 15px;
    text-align: center;
}

.social h3 {
    font-size: 15px;
    margin-bottom: 10px;
}

.social ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.social ul li a {
    text-decoration: none;
    color: #fff;
}

.copyright {
    font-size: 14px;
    margin-top: 20px;
}


  