body{
 margin: auto;
background-color: aquamarine;
border: 0cap;
text-align: center;
text-align: justify;
left: 50%;
}

.emailCntnr{
    display:block;
    margin-top: 10px;
}

.psswrdCntnr{
    display:block;
    margin-top: 10px;
}